@import url(./variables.css);
@import url(./reset.css);

.about-banner {
  background: url("../assets/images/math.jpg");
  padding: 60px 20px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  min-height: 560px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
  text-shadow: 1px 3px 7px gray;
  letter-spacing: 1px;
  color: #1d6fe2;
  margin: 50px 0;
}

.about-main {
  margin: 50px 300px;
  font-size: 1.2rem;
  line-height: 50px;
  color: #1e2d4d;
}

.top-line,
.bottom-line {
  width: 100%;
  margin: 80px auto;
  height: 0.5px;
  background-color: #1e2d4d;
}

/* Media Queries */

@media only screen and (max-width: 1090px) {
  .event-banner {
    padding: 40px 15px;
    min-height: 400px;
  }

  h1 {
    font-size: 2rem;
    margin: 10px 0;
  }

  .about-main {
    margin: 30px 150px;
    font-size: 1.2rem;
    line-height: 2;
  }
}

@media (max-width: 768px) {
  .about-banner {
    padding: 40px 15px;
    min-height: 400px;
  }

  h1 {
    font-size: 2rem;
  }

  .about-main {
    margin: 30px 80px;
    font-size: 1.2rem;
    line-height: 2;
  }
}

@media (max-width: 376px) {
  .about-banner {
    padding: 40px 15px;
    min-height: 400px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.8rem;
    margin: 10px 0;
  }

  .about-main {
    margin: 50px 40px;
    font-size: 1rem;
    line-height: 2;
  }

  .top-line,
  .bottom-line {
    width: 100%;
    margin: 30px auto;
  }
}
