@import url(./variables.css);
@import url(./reset.css);

.banner {
  background: url("../assets/images/museum-hall1.jpg");
  padding: 60px 20px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  min-height: 660px;
}

.bottom-banner-content {
  font-family: rubik-regular;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -20px;
  line-height: 40px;
}

.welcome {
  font-size: var(--font-size-title);
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 1px 3px 7px gray;
  letter-spacing: 1px;
  color: var(--color-primary);
  margin-top: 60px;
}

.welcome-sub {
  font-size: var(--font-size-sub);
  font-weight: 100;
  letter-spacing: 1px;
  color: var(--color-secondary);
  margin-top: 20px;
  margin-bottom: 10px;
}

.cta-button {
  color: var(--button-primary);
  font-size: var(--font-size-sub);
}

.cta-button:hover {
  text-shadow: 1px 3px 20px #4d7699;
}

.activity-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 50px;
  margin: 0 85px;
  height: 800px;
}

.activity-card-item1,
.activity-card-item2,
.activity-card-item3 {
  border: 1px solid none;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3 ease, box-shadow 0.3s ease;
}

.cta-activity {
  text-decoration: none;
}

.cta-activity:hover {
  text-shadow: 1px 1px 20px #4d7699;
}

.activity-card-item1 {
  background-color: #f0c5c5;
}

.activity-card-item2 {
  background-color: #d9844c;
}

.activity-card-item3 {
  background-color: #f2de84;
}

.activity-image {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.activity-name {
  font-size: var(--font-size-card-title);
  text-align: center;
  padding: 15px 20px;
  font-family: rubik-regular;
  font-weight: 300;
  color: var(--color-primary);
}

.activity-description {
  font-size: var(--font-size-description);
  text-align: center;
  padding: 0 10px;
  color: var(--color-secondary);
}

.mid-background {
  background-image: url(../assets/images/lab.jpg);
  background-position: center;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
  position: relative;
}

.mid-background-image {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.line-top,
.line-bottom {
  width: 90%;
  margin: 60px auto;
  height: 0.5px;
  background-color: #1e2d4d;
}

.second-activity-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 200px;
  height: 1090px;
}

.second-activity-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-activity-item.reverse {
  flex-direction: row-reverse;
}

.second-activity-image {
  width: 50%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.second-activity-description {
  align-items: center;
  font-size: var(--font-size-description);
  color: var(--color-secondary);
  letter-spacing: 2px;
  margin: 100px 20px;
  width: 50%;
  line-height: 25px;
}

.back-to-top {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

/* Media Queries */

@media screen and (max-width: 1090px) {
  .activity-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 20px 150px;
    height: 1500px;
  }

  .welcome {
    font-size: 2rem;
    margin-top: 20px;
  }

  .welcome-sub {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 1.2rem;
  }

  .activity-image {
    width: 100%;
    height: 350px;
  }

  .activity-name {
    font-size: 1.5rem;
  }

  .activity-description {
    font-size: 1.1rem;
  }

  .mid-background {
    height: 300px;
  }

  .mid-background-image {
    width: 100%;
    height: 400px;
  }

  .second-activity-container {
    margin: 0 20px;
  }

  .second-activity-item {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .second-activity-image {
    width: 100%;
    max-height: 400px;
  }

  .second-activity-description {
    font-size: 1rem;
    width: 900px;
    margin: 20px;
  }

  .back-to-top {
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  /*.mid-background {
    height: 50vh;
  }

  .mid-background-image {
    width: 500px;
    height: auto;
  }*/
}

@media (max-width: 768px) {
  .activity-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 20px 50px;
    height: 1400px;
  }

  .welcome {
    font-size: 1.4rem;
  }

  .welcome-sub {
    font-size: 1.1rem;
  }

  .cta-button {
    font-size: 1.1rem;
  }

  .activity-image {
    width: 100%;
    height: 300px;
  }

  .activity-name {
    font-size: 1.4rem;
  }

  .activity-description {
    font-size: 1rem;
  }

  .mid-background {
    height: 200px;
  }

  .mid-background-image {
    width: 70%;
    height: 300px;
    margin-left: 70px;
  }

  .second-activity-container {
    margin: 10px 0;
  }

  .second-activity-item {
    flex-direction: column;
    text-align: center;
  }

  .second-activity-image {
    width: 70%;
    height: 200px;
  }

  .second-activity-description {
    font-size: 1rem;
    width: 100%;
    margin: 5px 0;
  }

  .back-to-top {
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 376px) {
  .activity-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 50px;
    margin: 0 10px;
    height: 1350px;
  }

  .welcome {
    font-size: 1.3rem;
    margin: 0 5px;
  }

  .welcome-sub {
    font-size: 0.8rem;
    font-weight: 100;
    margin: 0 10px;
  }

  .cta-button {
    font-size: 1rem;
  }

  .activity-name {
    font-size: 1.2rem;
  }

  .activity-description {
    font-size: 0.9rem;
  }

  .mid-background {
    margin: 2px 0;
    height: 250px;
  }

  .mid-background-image {
    margin-left: 55px;
    height: 200px;
  }

  .second-activity-container {
    margin: 0 20px;
  }

  .second-activity-item {
    flex-direction: column;
    align-items: center;
  }

  .second-activity-description {
    font-size: 1rem;
  }
}
