@import url(./variables.css);

@font-face {
  font-family: "krona";
  src: url(../assets/fonts/KronaOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "rubik-medium";
  src: url(../assets/fonts/Rubik-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "rubik-regular";
  src: url(../assets/fonts/Rubik-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "rubik-semibold";
  src: url(../assets/fonts/Rubik-SemiBold.ttf) format("truetype");
}

*::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: rubik-regular, sans-serif;
}

/* Nav */

header {
  background: #1e2d4d;
  padding: 20px 60px;
}

.logo a {
  color: #ff8c00;
  cursor: pointer;
  text-decoration: none;
  font-family: krona;
  font-size: 1.6rem;
  text-shadow: 1px 3px 7px gray;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 10px 15px;
}

.navlist {
  display: flex;
  list-style: none;
}

.navlist li a {
  margin: 0 0 0 92px;
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.navlist li a:hover {
  color: #ff8c00;
  transition: 0.3s ease;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #1e2d4d;
  border-radius: 50px;
  padding: 4px;
  background-color: #4d7699;
}

.search-bar {
  padding: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
  width: 230px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.search-button {
  background-color: #1d6fe2;
  color: #f9f9f9;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
}

.search-button:hover {
  background-color: #ff8c00;
  color: #1e2d4d;
}

.footer-container {
  background: #1e2d4d;
  color: #fff;
  padding: 50px 200px;
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.footer-h2 {
  margin-bottom: 25px;
  font-size: 1.6rem;
}

.footer-heading1,
.footer-heading2 {
  color: #f9f9f9;
  margin: 15px 35px;
}

.footer-heading1 a,
.footer-heading2 a {
  color: #f9f9f9;
  font-size: 1rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 10px;
}

.footer-heading1 a:hover,
.footer-heading2 a:hover {
  color: #ff8c00;
  transition: 0.3s ease;
}

footer a {
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}

.subscribe-container {
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
  border: 1px solid gray;
  border-radius: 50px;
  background-color: #4d7699;
  text-align: center;
  box-sizing: border-box;
}

.subscribe-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 50px;
  font-size: 1rem;
  box-sizing: border-box;
}

.subscribe-button {
  width: 80%;
  padding: 10px;
  background-color: #1d6fe2;
  color: #f9f9f9;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #ff8c00;
  color: #1e2d4d;
}

.subscribe-text {
  color: #1e2d4d;
  font-size: 1rem;
  margin-bottom: 10px;
}

.icons {
  max-width: 30px;
  max-height: 30px;
  margin-left: 30px;
}

.social-media-icons a:hover {
  color: #ff8c00;
}

.social-media-icons {
  margin-top: 15px;
}

.social-media-heading {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  font-size: 1rem;
}

.footer-line {
  margin-top: 1px;
  margin-bottom: 15px;
  border-top: 1px solid gray;
  width: 100%;
}

small {
  display: block;
  text-align: center;
  font-size: 0.8rem;
}

/* Media Queries */

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }

  .footer-container {
    padding: 20px 20px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-container {
    max-width: 90%;
  }

  .footer-heading1,
  .footer-heading2 {
    text-align: center;
  }
}
