@import url(./variables.css);
@import url(./reset.css);

h1 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  color: #1d6fe2;
  margin-top: 60px;
  text-transform: uppercase;
  text-shadow: 1px 3px 7px gray;
  letter-spacing: 1px;
  color: #1d6fe2;
}

.images {
  display: block;
  width: 500px;
  height: 305px;
  object-fit: cover;
}

.top,
.middle,
.bottom {
  display: block;
  justify-content: center;
  margin: 80px auto;
}

.top,
.middle,
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 80px auto;
  max-width: 1020px;
}

.opening-hours,
.accessibility,
.food-drinks {
  background-color: #f2de84;
  line-height: 25px;
  min-height: 500px;
  padding: 50px;
}

.opening-hours {
  padding: 30px 50px;
}

section h2 {
  margin: 20px 0;
  font-size: 1.6rem;
  font-family: rubik-regular;
  font-weight: 300;
  color: #1d6fe2;
}

section p {
  color: #1e2d4d;
  font-size: 1.2rem;
}

.parking,
.assistance {
  background-color: #d9844c;
  width: 500px;
  min-height: 170px;
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.parking {
  line-height: 35px;
}

.assistance p {
  margin-top: 10px;
}
